@import '../../styles/misc/media-queries';

.grid {
	@include sm-max {
		column-count: 1;
	}
	column-count: 4;
	gap: 30px;
	row-gap: 30px;
	padding: 2rem;

	p,
	span {
		margin: 0;
		padding: 0;
	}
}
