@import '../../styles/variables';
@import '../../styles/mixins/box-shadow';
@import '../../styles/mixins/typography';

.rootContainer {
	display: grid;
	grid-template-columns: repeat(2, 45%);
	height: 100vh;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	.loginContainer {
		@include box-shadow(3px, 3px, 40px, rgba($color: #000000, $alpha: 0.5));
		padding: 50px;
		border-radius: 20px;

		.errorContainer {
			.oneError {
				padding: 14px 10px;
				border-radius: 10px;
				background: rgba($error-red, 1);
				display: flex;
				align-items: center;

				svg {
					margin-right: 10px;
				}

				p {
					@include paragraph {
						font-size: 18px;
					}
					color: #ffffff;
				}
			}
		}

		.loginInner {
			.group {
				display: flex;
				justify-content: space-between;
				gap: 20px;

				div {
					flex: 1;
				}
			}

			.btnContainer {
				.submitBtn {
					@include paragraph {
						font-size: 16px;
					}
					border: 0;
					padding: 12px 18px;
					background: rgba($blue, 1);
					color: #ffffff;
					border-radius: 10px;
					transition: all 0.2s ease-in-out;

					&:hover {
						background: rgba($dark-blue, 1);
						cursor: pointer;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}

		h1 {
			@include heading {
				font-size: 48px;
				margin-top: 20px;
				margin-bottom: 40px;
			}
		}
	}

	.graphicContainer {
		img {
			max-width: 100%;
		}
	}
}
