@import '../../../styles/mixins/typography';

.onePet {
	margin: 0;
	grid-template-rows: 1fr auto;
	margin-bottom: 30px;
	break-inside: avoid;
	position: relative;
	overflow: hidden;
	border-radius: 20px;

	.metaContainer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba($color: #ffffff, $alpha: 0.55);
		padding: 20px 10px;
	}

	img {
		display: block;
		width: 100%;
		grid-row: 1 / -1;
		grid-column: 1;
	}
}
