@import '../../../styles/mixins/typography';

.onePet {
	margin: 0;
	grid-template-rows: 1fr auto;
	margin-bottom: 30px;
	break-inside: avoid;
	position: relative;
	overflow: hidden;
	border-radius: 20px;

	p,
	span {
		margin: 0;
		padding: 0;
	}

	.metaContainer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba($color: #ffffff, $alpha: 0.55);
		padding: 20px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.name {
			p {
				@include paragraph {
					font-size: 26px;
				}
			}
		}

		.tags {
			display: flex;
		}
	}

	img {
		display: block;
		width: 100%;
		grid-row: 1 / -1;
		grid-column: 1;
	}
}
