@import '../../../styles/variables';
@import '../../../styles/mixins/typography';

.onePet {
	margin: 0;
	grid-template-rows: 1fr auto;
	margin-bottom: 30px;
	break-inside: avoid;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: rgba($color: $blue, $alpha: 0.35);
	padding: 20px;

	p,
	span {
		margin: 0;
		padding: 0;
	}

	.petImages {
		position: relative;

		.dots {
			display: flex;
			justify-content: center;

			li {
				width: 8px;
				height: 8px;
				margin: 10px;

				&::before {
					width: 8px;
					height: 8px;
					border-radius: 50%;
					content: '';
					position: absolute;
					border: 5px rgba($color: $blue, $alpha: 0.85) solid;
				}

				&.active {
					width: 11px;
					height: 11px;

					&::before {
						width: 8px;
						height: 8px;
						background: rgba($color: $blue, $alpha: 0.85);
					}
				}
			}
		}
	}

	.metaContainer {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		flex: 1;

		div {
			display: flex;
			flex: 1;
			width: 100%;

			.name,
			.category {
				p {
					@include paragraph {
						font-size: 26px;
					}
				}
			}
		}

		.tags {
			display: flex;
			margin-top: 10px;

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 4px;

				li {
					@include paragraph {
						font-size: 12px;
					}
					padding: 4px 8px;
					border-radius: 4px;
					display: flex;
					align-items: center;
					background: rgba($color: $blue, $alpha: 1);
					color: #ffffff;

					svg {
						font-size: 16px;
						margin-right: 4px;
					}
				}
			}

			p {
				@include paragraph {
					font-size: 20px;
				}
			}
		}
	}

	img {
		display: block;
		width: 100%;
		grid-row: 1 / -1;
		grid-column: 1;
	}

	.buyBtn {
		display: flex;
		justify-content: flex-end;
	}
}
