@import '../../styles/mixins/box-shadow';

$header-height: 70px;

.headerRoot {
	@include box-shadow(3px, 3px, 40px, rgba($color: #000000, $alpha: 0.5));
	height: $header-height;
	border-bottom: 2px solid #444;
	display: flex;
	align-items: center;
	padding: 0 20px;

	.logo {
		p {
			font-size: 2rem;
		}
	}
}
