@import '../../../styles/variables';
@import '../../../styles/mixins/typography';

.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	label {
		@include paragraph {
			font-size: 14px;
		}
		display: inherit;
		flex-direction: inherit;
	}

	.input {
		@include paragraph {
			font-size: 14px;
		}
		border: 0;
		margin-top: 20px;
		height: 40px;
		border-radius: 10px;
		padding-left: 10px;
		width: calc(100% - 10px);
		border: 2px solid rgba($blue, 0.35);
		transition: all 0.2s ease-in-out;

		&:focus {
			outline: none;
			border: 2px solid $dark-blue;
		}
	}
}
