/* COLORS */

$pink: #bf4e63;
$yellow: #d9bb29;
$light: #fee7b6;
$pastel: #fee7b6;
$brown: #754d49;
$blue: #3d83ff;
$dark-blue: #0a62ff;
$error-red: #ff3333;
$purple: #6c63ff;

/* SIZES */

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
