/* COLORS */

$pink: #bf4e63;
$yellow: #d9bb29;
$light: #fee7b6;
$pastel: #fee7b6;
$brown: #754d49;

/* SIZES */

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
